footer {
  position: relative;
  background-color: #242424;
  display: flex;
  padding: 6% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--img {
  width: 200px;
  height: 200px;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.footer__social--link,
.footer__copyright {
  color: white;
}

/* 
  
    SHAPES
  
    shapes on the first row 
    height = 15vh
    
    shapes on the second row 
    height = 50vh
    
    shapes on the third row 
    height = 80vh
  
    shapes on the first column
    width = 5vw
    
    shapes on the second column
    width = 50vw
  
    shapes on the third column
    width = 80vw
  
  */
.shape {
  position: fixed;
}
.shape--0 {
  top: 15vh;
  left: 5vw;
}
.shape--1 {
  top: 15vh;
  left: 50vw;
}
.shape--2 {
  top: 15vh;
  left: 80vw;
}
.shape--3 {
  top: 50vh;
  left: 5vw;
}
.shape--4 {
  top: 50vh;
  left: 50vw;
}
.shape--5 {
  top: 50vh;
  left: 80vw;
}
.shape--6 {
  top: 80vh;
  left: 5vw;
}
.shape--7 {
  top: 80vh;
  left: 50vw;
}
.shape--8 {
  top: 80vh;
  left: 80vw;
}

/* ADDED AFTER TUTORIAL */
.footer__logo--popper {
  position: absolute;
  right: 0;
  margin-top: 66px;
  top: 16px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
  color: white;
}

.footer__anchor {
  position: relative;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

@media (max-width: 480px) {
  .title {
    font-size: 52px;
  }
  .header__para {
    font-size: 18px;
  }
  .nav__link:first-child {
    display: none;
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--sub-title {
    margin-bottom: 8px;
  }
  .modal__half {
    padding: 40px;
  }
}
